//.gs-reveal {
//	opacity: 0;
//	visibility: hidden;
//	transition: opacity 0.3s ease-in-out .2s, visibility 0.3s ease-in-out .2s;
//	will-change: opacity, visibility;
//	&.is-revealed {
//		opacity: 1;
//		visibility: visible;
//	}
//}

@keyframes hoverWave {
	0% {
		box-shadow: 0 8px 10px rgba(105, 158, 74, 0.3), 0 0 0 0 rgba(105, 158, 74, 0.2), 0 0 0 0 rgba(105, 158, 74, 0.2)
	}

	40% {
		box-shadow: 0 8px 10px rgba(105, 158, 74, 0.3), 0 0 0 15px rgba(105, 158, 74, 0.2), 0 0 0 0 rgba(105, 158, 74, 0.2)
	}

	80% {
		box-shadow: 0 8px 10px rgba(105, 158, 74, 0.3), 0 0 0 30px rgba(105, 158, 74, 0), 0 0 0 26.7px rgba(105, 158, 74, 0.067)
	}

	100% {
		box-shadow: 0 8px 10px rgba(105, 158, 74, 0.3), 0 0 0 30px rgba(105, 158, 74, 0), 0 0 0 40px rgba(105, 158, 74, 0.0)
	}
}


/* Анимация ссылок */
:root {
	--AccentuationColor: #FFFFFF;
	/*цвет заливки по наведению*/
	--AccentuationHeight: 1.2px;
	/*размер подчеркивания*/
	--AccentuationPadding: 5px;
	/*отступ от текста*/
}

/*Минимальная ширина экрана 480px*/
@media only screen and (min-width: 480px) {
	.hover-accentuation-text,
	.hover-accentuation-text:before {
		opacity: 0;
		transform: translateX(-100%);
		transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s, transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s;
		transition-delay: 0.7s;
	}

	.tn-atom:hover .hover-accentuation-text,
	.tn-atom:hover .hover-accentuation-text:before {
		opacity: 1;
		transform: translateX(0);
		transition-delay: 0s;
	}

	@keyframes anim-in-text-accentuation {
		0% {
			transform: translateX(100%);
		}

		100% {
			transform: translateX(0);
		}
	}

	@keyframes anim-in-accentuation {
		0% {
			transform: translateX(-100%);
		}

		100% {
			transform: translateX(0);
		}
	}

	@keyframes anim-out-accentuation {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-100%);
		}
	}

	@keyframes anim-out-text-accentuation {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(100%);
		}
	}

	.hover-accentuation-text {
		position: absolute;
		top: var(--AccentuationPadding);
		left: 0;
		bottom: 0;
		transform: translateX(-100%);
		display: inline-table;
		width: 100%;
		height: 100%;
		overflow: hidden;
		pointer-events: none;
		-webkit-animation: anim-out-text-accentuation 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
		animation: anim-out-text-accentuation 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.hover-accentuation-text:before {
		content: "";
		background: var(--AccentuationColor);
		width: 100%;
		height: var(--AccentuationHeight);
		position: absolute;
		bottom: 0;
		transform: translateX(100%);
		display: inline-table;
		-webkit-animation: anim-out-accentuation 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
		animation: anim-out-accentuation 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.tn-atom:hover .hover-accentuation-text {
		transform: translateX(0);
		-webkit-animation: anim-in-accentuation 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
		animation: anim-in-accentuation 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.tn-atom:hover .hover-accentuation-text:before {
		-webkit-animation: anim-in-text-accentuation 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
		animation: anim-in-text-accentuation 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
	}
}