@font-face {
	font-family: NTSomic;
	font-display: swap;
	src: url("../fonts/NTSomic-Regular.woff2") format("woff2"), url("../fonts/NTSomic-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Onest;
	font-display: swap;
	src: url("../fonts/Onest-Regular.woff2") format("woff2"), url("../fonts/Onest-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NTSomicMed;
	font-display: swap;
	src: url("../fonts/NTSomicMed-Regular.woff2") format("woff2"), url("../fonts/NTSomicMed-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
