.text {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--large {
		font-size: responsive 20px 24px;
		font-range: 576px 1600px;
	}
	&--medium {
		font-size: 20px;
	}
	&--normal {
		font-size: 16px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 13px;
	}
	&--primary {
		color: var(--primary-font-color);
	}
	&--secondary {
		color: var(--secondary-font-color);
	}
	&--orange {
		color: var(--primary);
	}
	&--brown {
		color: #B2B1B7;
	}
	&--w-ligh {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-semibold {
		font-weight: 600;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}