.text {
	font-family: var(--font-secondary);
	font-style: normal;
	margin: 0;
	&--big {
		font-size: 32px;
		@include mobile {
			font-size: 20px;
		}
	}
	&--large {
		font-size: 20px;
		@include mobile {
			font-size: 16px;
		}
	}
	&--medium {
		font-size: 18px;
		@include mobile {
			font-size: 14px;
		}
	}
	&--normal {
		font-size: 16px;
		@include mobile {
			font-size: 14px;
		}
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 13px;
	}
	&--primary {
		color: var(--primary-font-color);
	}
	&--secondary {
		color: var(--secondary-font-color);
	}
	&--blue {
		color: #4897FE;
	}
	&--mint {
		color: #48EBFF;
	}
	&--brown {
		color: #FDFDFD80;
	}
	&--white-50 {
		color: rgba(253, 253, 253, 0.5);
	}
	&--w-regular {
		font-weight: normal;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}