.title {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--extra-huge {
		font-size: responsive 48px 113px;
		font-range: 768px 1440px;
	}
	&--huge {
		font-size: responsive 48px 76px;
		font-range: 768px 1440px;
	}
	&--big {
		font-size: responsive 32px 48px;
		font-range: 768px 1440px;
	}
	&--pre-big {
		font-size: responsive 32px 40px;
		font-range: 768px 1440px;
	}
	&--large {
		font-size: responsive 28px 36px;
		font-range: 768px 1440px;
	}
	&--primary {
		color: var(--primary-font-color);
	}
	&--secondary {
		color: var(--secondary-font-color);
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: 400;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-semibold {
		font-weight: 600;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
	margin-bottom: 48px;
	@include mobile {
		margin-bottom: 24px;
	}
}