.title {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--ff-regular {
		font-family: var(--font-regular);
	}
	&--extra-huge {
		font-size: 136px;
		@include tablet {
			font-size: 64px;
		}
	}
	&--huge {
		font-size: 96px;
		@include mobile {
			font-size: 48px;
		}
	}
	&--large {
		font-size: 40px;
		@include mobile {
			font-size: 24px;
		}
	}
	&--medium {
		font-size: 32px;
	}
	&--small {
		font-size: 24px;
	}
	&--tiny {
		font-size: 20px;
		@include mobile {
			font-size: 14px;
		}
	}
	&--primary {
		color: var(--primary-font-color);
	}
	&--secondary {
		color: var(--secondary-font-color);
	}
	&--dark {
		color: var(--secondary-font-color);
	}
	&--blue {
		color: #4897FE;
	}
	&--mint {
		color: #48EBFF;
	}
	&--w-regular {
		font-weight: 400;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
	margin-bottom: 30px;
	@include mobile {
		margin-bottom: 20px;
	}
}