.button {
  font-family: var(--font-main);
  font-weight: 400;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  padding: 15px 25px;
  z-index: 1;
  outline: var(--primary);
  background: transparent;
  transition: background .3s ease-out, color .3s ease-out, border .3s ease-out, opacity .3s ease-out, width .3s ease-out;
  overflow: hidden;
}

.button--primary {
  background-color: #FF7A19;
  color: var(--dark-font-color);
  border-radius: 5px;
  border: 1px solid transparent;
  @include mobile {
    width: 100%;
  }
}

.button--primary:hover,
.button--primary:focus,
.button--primary:target {
  background-color: var(--primary);
}

.button--primary:active {
  background-color: var(--primary);
}

.button--primary:disabled {
  background-color: var(--primary)
}