.button {
  font-family: var(--font-main);
  font-weight: 400;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  padding: 15px 25px;
  z-index: 1;
  outline: var(--primary);
  background: transparent;
  transition: background .3s ease-out, color .3s ease-out, border .3s ease-out, opacity .3s ease-out, width .3s ease-out;
  overflow: hidden;
}

.button--primary {
  color: var(--dark-font-color);
  background-color: transparent;
  overflow: hidden;
  border-radius: 5px;
  @include mobile {
    width: 100%;
  }
}

.button--primary::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--blue-bg);
  left: 0;
  top: 0;
  border-radius: 5px;
  z-index: -1;
  transform: translate(-105%, 0);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button--primary::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FF7A19;
  left: 0;
  top: 0;
  border-radius: 5px;
  z-index: -2;
}

.button--primary:hover::after,
.button--primary:target::after,
.button--primary:active::after {
  transform: translate(0%, 0);
}

.button--primary:hover,
.button--primary:target,
.button--primary:active {
  color: var(--primary-font-color);
}

.button--primary:disabled {
  opacity: .5;
}

.button--secondary {
  background-color: transparent;
  color: var(--primary-font-color);
  border-radius: 5px;
  border: 1px solid var(--white-bg);
  width: 100%;
}

.button--secondary:hover,
.button--secondary:focus,
.button--secondary:target {
  border-color: var(--primary);
  color: var(--primary);
}

.button--secondary:active {
  border-color: var(--primary);
  color: var(--primary);
}

.button--secondary:disabled {
  border-color: var(--primary);
  color: var(--primary);
}

.button--translate {
  border: 1px solid #066B1D;
  background-color: transparent;
  color: var(--white-bg);
}

.button--translate svg {
  margin-bottom: -2px;
}