.counter {
	overflow: hidden;
	animation-direction: normal;
	animation: transform-number 3.2s cubic-bezier(0.98, 0.12, 0.18, 1.03);
	animation-fill-mode: forwards;
	animation-delay: 0.4s;
	opacity: 0;
	transition-duration: 0.5s;
}

.is-counter-view {
	opacity: 1;
}

.counter-plus:after {
	content: '+';
}