.dis {
	background-color: #0F1426;
}

.dis__body.container {
	max-width: 1240px;
}

.dis__section {
	padding: 128px 0;
	min-height: 50vh;
	position: sticky;
	top: 0;
}

.dis__card {
	position: relative;
	padding: 32px;
	border-radius: 12px;
	overflow: hidden;
	min-height: 378px;
	background: linear-gradient(93.01deg, #171A30 5.27%, #0D1528 16%, #030F20 23.67%, #000000 57.73%, #000000 99.29%);
	@include mobile {
		padding: 0;
	}
}

.dis__card-title {
	//font-size: 32px;
	font-size: 24px;
	@include mobile {
		font-size: 24px;
	}
	@include mobileXS {
		font-size: 20px;
	}
}

.dis__card-excerpt {
	//font-size: 18px;
	font-size: 16px;
}

.dis__card-title,
.dis__card-excerpt {
	margin-top: 24px;
}

.dis__card-wrap {
	position: relative;
	z-index: 1;
	max-width: 633px;
	@include mobile {
		padding: 24px;
	}
}

.dis__card-img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	@include mobile {
		display: none;
		position: static;
		margin-top: 50px;
		width: 100%;
		transform: none;
	}
}

.dis__section:first-child .dis__card .dis__card-img {
	right: 50px;
}

.dis__section:nth-child(3) .dis__card .dis__card-img {
	top: 0;
	transform: none;
}

.dis__section:last-child .dis__card {
	overflow: visible;
}

.dis__section:last-child .dis__card .dis__card-img {
	transform: none;
	bottom: 0;
	top: auto;
}