.footer {
	padding: 85px 0 116px;
	background-color: #181D30;
	background-image: url('../img/decor/footer-decor.png');
	background-repeat: no-repeat;
	background-position: -17% 25%;
}

.footer__columns {
	gap: 50px;
	@include mobile {
		flex-direction: column;
	}
}

.footer__col:first-child {
	max-width: 311px;
}

.footer__title {
	margin-bottom: 24px;
}

.footer__socials {
	gap: 32px;
}

.footer__contacts {
	gap: 16px;
}

.footer__contact {
	gap: 12px;
	transition: color var(--hover-time) ease;
}

.footer__contact:hover {
	color: var(--primary);
}