.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
	box-shadow: var(--small-shadow);
	padding: 25px 0;
	background: #FFFFFF05;
	backdrop-filter: blur(12px);
	@include mobile {
		padding: 18px 0;
	}
}

.header__logo {
	position: relative;
	z-index: 111;
}

.header__actions {
	text-align: center;
	@include mobile {
		display: none;
	}
}

.header__on-off {
	margin-top: 12px;
	opacity: 0.6;
}

.header__menu.menu .menu__list {
	@include tablet {
		flex-direction: column;
		align-items: center;
	}
}

.header__menu.menu .menu__item.menu__item--bot {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header__menu.menu .menu__item.menu__item--bot::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background-image: url('../img/decor/lightning.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
}