.info {
	position: relative;
	background-color: var(--primary-bg);
	background-image: url('../img/decor/bg-decor-2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 732px;
	margin-bottom: 30px;
	@include mobile {
		padding: 60px 0 100px;
		min-height: auto;
		margin-bottom: 0;
	}
}

.info.info--footer {
	background: none;
	margin-bottom: 145px;
	min-height: auto;
	padding-bottom: 0;
	@include mobile {
		padding: 0;
		margin-bottom: 100px;
	}
}

.info__inner {
	display: grid;
	grid-template-columns: minmax(280px, 332px) minmax(400px, 660px);
	gap: 30px;
	align-items: center;
	@include mobile {
		grid-template-columns: 1fr;
	}
}

.info__pic {
	@include mobile {
		display: none;
	}
}

.info__excerpt {
	line-height: 150%;
}

.info__title {
	max-width: 370px;
	margin-bottom: 20px;
	@include mobile {
		margin-bottom: 10px;
	}
}

.info__plunk {
	max-width: 460px;
}

.info.info--footer .info__plunk {
	max-width: 660px;
}

.info__button {
	margin-top: 50px;
	@include mobile {
		margin-top: 30px;
	}
}