.info {
	border-radius: 111px 111px 0 0;
	background-color: #0F1426;
	padding-bottom: 102px;
	@include mobile {
		border-radius: 50px 50px 0 0;
		padding-bottom: 50px;
	}
}

.info__anchors {
	gap: 16px;
	padding: 74px 0 0;
	@include mobile {
		flex-direction: column;
	}
}

.info__anchor {
	gap: 8px;
	padding: 9px 12px 6px 16px;
	background-color: var(--secondary-bg);
	border-radius: 6px;
	transition: background-color var(--hover-time) ease;
	@include mobile {
		width: 100%;
	}
}

.info__anchor:hover {
	background-color: var(--primary-hover);
}

.info__outer {
	padding-top: 100px;
	//background: url('../img/decor/info-decor.svg') no-repeat center;
	//background-size: 100%;
	@include mobile {
		padding-top: 60px;
	}
}

.info__inner.container {
	max-width: 620px;
}

.info__title,
.info__description,
.info__invite-description {
	line-height: 36px;
}

.info__title + .info__description,
.info__description + .info__title {
	margin-top: 49px;
}

.info__invite {
	margin-top: 87px;
	gap: 22px;
	@include mobile {
		margin-top: 70px;
	}
}

.info__invite-description {
	padding: 16px;
	border: 2px solid var(--secondary-font-color);
	border-radius: 13px;
	max-width: 564px;
	cursor: pointer;
}

.info__invite-arrow {
	width: 66px;
	height: 63px;
	border-radius: 13px;
	border: 2px solid var(--secondary-font-color);
	@include mobile {
		display: none;
	}
}