.menu {
  font-family: var(--font-secondary);
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__list > .menu__item .menu__link {
  display: block;
  color: var(--primary-font-color);
  transition: color var(--hover-time) ease;
}

.menu__item {
  position: relative;
}