.menu {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.menu__list {
  display: flex;
  gap: 48px;
}

.menu__list > .menu__item .menu__link {
  display: block;
  color: var(--primary-font-color);
  transition: color var(--hover-time) ease;
}

.menu__list > .menu__item:hover .menu__link {
  color: var(--primary);
  @include mobile {
    transform: none;
  }
}