.mobile-nav {
	transition: all 0.2s ease-in;
	@include tablet {
		position: fixed;
		top: 0;
		right: -100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: var(--primary-bg);
    	z-index: 99;
		width: 100%;
		max-width: 414px;
	}
}

.mobile-nav--open {
	right: 0;
}

//.mobile-nav__list {
//	display: flex;
//	flex-direction: column;
//	align-items: center;
//	row-gap: 20px;
//	font-size: 28px;
//
//	& .active {
//		opacity: 0.5;
//	}
//}