.partners {
	padding: 100px 0;
}

.partners__splide + .partners__top {
	margin-top: 50px;
}

.partners__splide-slide {
	background-color: #000032;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
	height: 100px;
}

.partners__slide-pic {
	//height: 100px;
}

.partners__slide-logo {
	//width: 100%;
	//height: auto;
	//object-fit: contain;
	//max-height: 100px;
}

.partners__decor-wrap {
	margin-top: 30px;
}

.partners__decor {
	height: 1px;
	width: 100%;
	background-image: linear-gradient(90deg, #1999FF 0%, #FF8F00 100%);
}