.program {
	background-color: #13182B;
}

.program__top {
	background-color: #0F1426;
}

.program__heading {
	position: relative;
	padding-top: 128px;
	padding-bottom: 128px;
}

.program__heading::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url('../img/decor/program-title-elipse.png') no-repeat center;
}

.program__body {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}

.program__tr {
	position: relative;
	background-color: #181D30;
	padding: 24px 32px;
	border-radius: 24px;
}

.program__tr-inner {
	gap: 27px;
}

.program__tr + .program__tr,
.program__tr + .program__grid-tr,
.program__grid-tr + .program__tr,
.program__grid-tr + .program__grid-tr {
	margin-top: 8px;
}

.program__tr.program__tr--start {
	padding: 32px;
	background-image: url('../img/decor/program-start-decor.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

.program__tr.program__tr--gen {
	padding: 32px;
	background-image: url('../img/decor/program-gen-decor.png');
	background-repeat: no-repeat;
	background-position:  30% center;
	background-size: contain;
}

.program__tr.program__tr--end {
	padding: 64px 32px;
	background-image: url('../img/decor/program-end-decor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.program__subtitle {
	margin-bottom: 24px;
}

.program__info-text,
.program__speakers {
	margin-top: 16px;
}

.program__info {
	max-width: 758px;
}

.program__speakers {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(189px, 189px));
	gap: 24px;
}

.program__speaker-photo {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	overflow: hidden;
}

.program__speaker-img {
	width: 64px;
	height: 64px;
	object-fit: cover;
}

.program__speaker-name {
	margin-top: 12px;
}

.program__speaker-pos {
	margin-top: 6px;
}

.program__tr.program__tr--full .program__tr-decor {
	position: absolute;
	right: 79px;
	top: 24px;
}

.program__grid-tr {
	display: grid;
	grid-template-columns: repeat(2, minmax(470px, 1fr));
	gap: 8px;
}

.program__tr.program__tr--elem-grid .program__speakers {
	margin-top: 24px;
}

.program__grid-tr .program__tr {
	margin-top: 0;
}

.program__elem .program__tr.program__tr--elem-grid {
	height: 100%;
}