.themes {
	padding-bottom: 100px;
}

.themes__grid {

}

.themes__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-auto-rows: 400px;
	gap: 20px;
}

.themes__item {
	position: relative;
	padding: 30px;
	border-radius: 10px;
	overflow: hidden;
}

.themes__item--first {
	background: linear-gradient(85.56deg, #000035 13.97%, #010175 69.46%);

	grid-area: 1 / 1 / 3 / 3;
}
.themes__item--second {
	background: linear-gradient(239.65deg, #1999FF 31.53%, #0105D6 97.4%);

	grid-area: 3 / 1 / 4 / 2;
}
.themes__item--thirty {
	background: linear-gradient(247.41deg, #FF5900 54.24%, #F11F00 89.48%);

	grid-area: 3 / 2 / 4 / 3;
}

.themes__item-info {
	height: 100%;
}

.themes__item-excerpt {
	max-width: 290px;
}

.themes__item-decor {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
}

.themes__item-decor-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
