.was {
	padding: 100px 0;
	@include mobile {
		padding: 60px 0 30px;
	}
}

.was__top {
	display: grid;
	grid-template-columns: minmax(380px, 419px) minmax(500px, 661px);
	gap: 30px;
	justify-content: space-between;
	margin-bottom: 50px;
	@include mobile {
		grid-template-columns: 1fr;
		gap: 20px;
		margin-bottom: 30px;
	}
}

.was__subtitle {
	line-height: 150%;
}

.was__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	@include mobile {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}

.was__splide-slide,
.was__item {
	aspect-ratio: 16/9;
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.was__grid .was__item:nth-child(1) {
	grid-area: 1 / 1 / 3 / 3;
	@include mobile {
		grid-area: unset;
	}
}
.was__grid .was__item:nth-child(2) {
	grid-area: 1 / 3 / 2 / 4;
	@include mobile {
		display: none;
	}
}
.was__grid .was__item:nth-child(3) {
	grid-area: 2 / 3 / 3 / 4;
	@include mobile {
		display: none;
	}
}

.was__splide.splide.is-initialized:not(.is-active) .splide__list {
	display: flex;
}

.was__splide {
	margin-top: 20px;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(90deg, #1999FF 0%, #FF8F00 100%);
	border-image-slice: 1;
	padding-bottom: 30px;
	@include mobile {
		padding-bottom: 10px;
	}
}

.was__splide-list {
	gap: 20px;
	@include mobile {
		gap: 0;
	}
}

.was__splide-slide.splide__slide {
	flex-shrink: 1;
	@include mobile {
		flex-shrink: 0;
	}
}

.was__splide-list .was__splide-slide:nth-child(1),
.was__splide-list .was__splide-slide:nth-child(2) {
	display: none;
	@include mobile {
		display: block;
	}
}
