.was {
	padding: 85px 0;
	background-color: var(--primary-bg);
	@include mobile {
		padding: 100px 0;
	}
}

.was__columns {
	display: grid;
	grid-template-columns: minmax(450px, 512px) minmax(600px, 670px);
	align-items: center;
	gap: 50px;
	justify-content: space-between;
	@include mobile {
		grid-template-columns: 1fr;
	}
}

.was__title {
	padding: 8px 17px;
	//font-size: 26px;
	font-size: 24px;
	border-radius: 13px;
	border: 1px solid var(--primary);
}

.was__arrows {
	border-radius: 13px;
	border: 1px solid var(--primary);
	gap: 12px;
	width: 65px;
	height: 90px;
	margin-left: 11px;
}

.was__description {
	line-height: 36px;
	margin-top: 24px;
}

.was__video {
	aspect-ratio: 16/9;
	overflow: hidden;
	border-radius: 12px;
}

.was__splide-slide {
	border-radius: 12px;
	overflow: hidden;
}

.was__splide-slide img {
	aspect-ratio: 4/3;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.was__wrap-slider {
	margin-top: 64px;
}